

<!-- jsHeader -->
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
	<link href="http://yzhou.org/demo/css/style_ggplot.css" rel="stylesheet">

<!-- jsHeader -->

<!-- jsChart -->	
	<script>
		<!--JSONHERE-->
	</script>

	<script type="text/javascript" src="http://yzhou.org/demo/js/cluster.min.js"></script>

	<!-- divChart -->

	
	
<div class="clusterPlot" id="clusterPlot">
<svg>

</svg>


</div>

<div class="ui-widget">
  <label for="tags">Search: </label>
  <input id="tags" size="50" />
<button id="confirm">Confirm</button>
<button id="clear">Clear</button>
</div>


